// Use colors
@import "./sass/variables/colors";
// Use transitions
@import "./sass/variables/transitions";
// Use animations
@import "./sass/variables/animations";
// Use Sliders
@import "./sass/variables/sliders";
// Use Mixins
@import "./sass/helpers/mixins";
// Use helpers classes
@import "./sass/components/helpersClasses";
// Use dropdowns & Buttons
@import "./sass/components/dropdowns&Buttons";
// Use headings
@import "./sass/components/headings";
// Use boxes
@import "./sass/components/boxes";
// Use forms
@import "./sass/components/forms";
// Use Global Page
@import "./sass/pages/globalPage";
// Use Header
@import "./sass/layouts/header";
// Use Page
@import "./sass/pages/main";
// Use login
@import "./sass/pages/login.scss";
// Use footer
@import "./sass/layouts/footer";