// box-serv
.box-serv {
  height: 100%;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(11, 34, 57, 0.1);
  text-align: center;
  padding: 25px;
  .img {
    height: 70px;
    object-fit: cover;
    width: auto;
    max-width: 100%;
    margin: 0 auto 14px;
  }
  .title {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 6px;
  }
  .text {
    color: #555;
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
  }
}

// box-stat
.box-stat {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
  height: 100%;
  .img {
    height: 80px;
    object-fit: cover;
    width: auto;
    max-width: 100%;
    margin: 0 auto;
  }
  .num {
    color: #000;
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
  }
  .text {
    color: #636363;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
  }
}


// box units
.units {
  .card {
    padding: 10px;
    .content {
      display: flex;
      flex-direction: column;
      .image {
        img {
          width: 100%;
        }
      }
      .text {
        .line-one {
          display: flex;
          align-items: center;
          justify-content: space-between;
          h3 {
            font-family: Cairo;
            font-size: 18px;
            font-weight: 700;
            line-height: 34px;
            letter-spacing: 0em;
            text-align: right;
            color: #000;
          }
          p {
            font-family: Cairo;
            font-size: 20px;
            font-weight: 700;
            line-height: 37px;
            letter-spacing: 0em;
            color: #db9069;
          }
        }
        .line-two {
          display: flex;
          align-items: center;
          padding: 10px;
          p {
            color: #b4b4b4;
            margin: 0;
            padding: 0 10px;
          }
        }
        .line-tree {
          display: flex;
          align-items: center;
          // padding: 10px;
          .item {
            display: flex;
            align-items: center;
            padding: 10px;
            p {
              font-family: Cairo;
              font-size: 16px;
              font-weight: 500;
              line-height: 30px;
              letter-spacing: 0em;
              margin: 0;
              padding: 0 10px;
            }
          }
        }
        .line-four {
          padding: 10px;
          .item {
            display: flex;
            align-items: center;
            p {
              margin: 0;
              padding: 0 10px;
            }
          }
        }
      }
      button {
        background-color: #fff;
        padding: 10px;
        border: 1px solid #db9069;
        border-radius: 4px;
        a {
          color: #db9069;
        }
      }
    }
  }
}
