.inp {
 border: 1.2px solid #b4bec8;
 border-radius: 4px;
 padding: 12px;
 width: 100%;
 font-size: 14px;
 font-weight: 400;
 direction: rtl;
 display: block;
 &::placeholder {
     font-size: 14px;
     font-weight: 400;
     color: rgba(135, 135, 135, 0.5);
 }
}
textarea {
 height: 135px;
}