// Font Size
.fs-10px {
  font-size: 10px;
}
.fs-11px {
  font-size: 11px;
}
.fs-12 {
  font-size: 12px;
}
.fs-13px {
  font-size: 13px;
}
.fs-14px {
  font-size: 14px;
}
.fs-15px {
  font-size: 15px;
}
.fs-16px {
  font-size: 16px;
}
.fs-26px {
  font-size: 26px;
}
// Font Weight
.fw-600 {
  font-weight: 600 !important;
}

// Height & Width
.h-fit {
  height: fit-content;
}
.w-fit {
  width: fit-content;
}
.w-150px {
  width: 150px;
}

// Text Color
.main-color {
  color: $main-color;
}

// gap 
.gap-1px {
  gap: 1px;
}

.main-section {
  padding: 35px 0;
}