$main-color: #DB9069;
$main-color-light:rgba(219, 144, 105, 0.43);
$main-color-dark: #B0795D;
$sec-color: #B8B8B8;
$text-color1: rgba(0, 0, 0, 0.6);
$text-color2: #0B2239;
$text-color3: #000000;
$text-color4: #555555;

$white: white;