.top-nav {
  background-color: $main-color;
  color: $white;
  font-size: 14px;
  padding: 12px 0;
  .items {
    display: flex;
    align-items: center;
    gap: 59px;
    flex-wrap: wrap;
    @include maxWidth(sm) {
      gap: 2rem;
    }
    .item {
      display: flex;
      align-items: center;
      gap: 8px;
      .icon {
        height: auto;
        width: 14px;
      }
    }
  }
  .social {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.bottom-nav {
  background-color: white !important;
  color: $text-color1;
  padding: 22px 0;
  .logo {
    img {
      width: 187px;
      height: auto;
      @include maxWidth(sm) {
        width: 100px;
      }
    }
  }
  .navbar-nav {
    gap: 48px;
    @include maxWidth(md) {
      gap: 0.5rem;
    }
    .nav-link {
      color: $text-color1 !important;
      font-weight: 500 !important;
      font-size: 16px !important;
      padding: 5px 0 !important;
      border-bottom: 2px solid transparent;
      &.active {
        border-bottom-color: $main-color;
        color: $main-color !important;
      }
    }
  }
  .btn-nav {
    border-radius: 4px;
    border: 1px solid $main-color;
    color: $main-color;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    padding: 4px 11px;
  }
}
